@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: rgba(228, 228, 228, 0.87);
    /* font-size: 16px;    
    font-weight: normal;
    font-family: 'Roboto', sans-serif; */
    font: normal 16px 'Roboto', sans-serif;
}

.container {
    max-width: 750px;
    margin: auto;
}

.container h1 {
    text-shadow: 1px 2px 2px rgba(114, 114, 114);
}

/* .social {
    background:bisque;
    border: 10px solid dodgerblue;
    padding: 5px 10px 15px 20px;
    margin: 5px 10px 15px 20px;
    /* border-bottom-style: dotted; */

/* border-bottom-right-radius: 70%;
    border-top-right-radius: 70%;
    border-left-style: none;
}  */

a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(117, 117, 117);
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: teal;
}

a:visited {
    color: teal;
}

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 3px 3px 14px 2px rgb(114, 114, 114);
    /* box-shadow: 4px 4px 14px rgba(0, 0, 0, 0, 25); */
}

.list_of_preference {
    padding: 0px 25px;
}

.list_of_preference li {
    color: deeppink;
    margin-bottom: 5px;
    /* border-bottom: 1px solid silver; */
    padding-left: 10px;
}

.list_of_preference li:nth-child(even) {
    background: #fff1ac;
    border-radius: 20px;
    width: 20%;
    color: rgb(236, 22, 137);
}

/* .box-model > div {
    background-color: #000;
    height: 150px;
    /* margin-top: 20px; */

/* width: 25%;
    float: left;
    border: 2px solid red;
    box-sizing: border-box;
} */

.info {
    display: flex;
    padding-top: 30px;
    margin-bottom: 20px;
}

.info p {
    font-size: 13px;
    color: rgb(105, 79, 47);
    margin: 0;
    text-decoration: none;
    text-transform: none;
    font-style: oblique;
    letter-spacing: 1px;
    word-spacing: 3px;
}

@media (max-width: 700px) {
    .info {
        display: block;
        text-align: center;
    }
}

.about-user {
    margin-left: 40px;
}

.card {
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 25px;
}

.resources_list {
    list-style: none;
    padding: 0;
}

.resources_list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.resources_list a:hover {
    text-decoration: none;
    color: rgb(165, 165, 165)
}

.table {
    width: 100%;
    text-align: center;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(1) {
    font-weight: 600;
    font-size: 14px;
}

.table td:nth-child(2), .table td:nth-child(3) {
    color: rgb(116, 113, 113);
    border-radius: 30px;
}

.table tr:nth-child(even) {
    background: #bdfac2ad;
    border-radius: 30px;
}
.table td:nth-child(1) {
    
    border-radius: 30px;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #ffe5e5;
}

.contact h2 {
    text-align: center;
    margin: 30px 0px 20px;
}

.form-group {
    display: block;
    color: rgb(112, 112, 112);
    font-size: 14px;
}

.form-group label {
    font-family: inherit;
    color: rgb(112, 112, 112);
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    box-sizing: border-box;
    outline: none;
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(185, 185, 185);
    /* margin-top: 7px; */
    margin-bottom: 5px;
    padding: 15px 0px 5px;
    background-color: transparent;
    font-size: 14px;
}

.row {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
}

.row .form-group:first-child {
    margin-right: 15px;
}

.btn {
    background: #111;
    color: #fff;
    border: none;
    padding: 15px 40px;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}